form {
    margin: 10%;
}

body {
    /* padding: 20% 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ani,
#rotate {
    width: 1vw;
    height: 5vh;
    background-color: grey;
}

#rotate {
    margin: auto;
    height: 9vh !important;
}